@page "{id}"
@model WebApplication2.Pages.CustomerNotifPageModel

@{
    ViewData["Title"] = "Customer Page";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Customer ID: @Model.Customer.Id</p>
    <p>Name: @Model.Customer.Name</p>
    <!-- Autres informations du client à afficher ici -->
</div>
