@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Mamma Mia Pizzeria</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            background-image: url('https://t4.ftcdn.net/jpg/01/50/97/31/360_F_150973115_FpDtoTuiIPksIPYv2IdrdnwDHclVgG6m.jpg');
            margin: 0;
            padding: 0;
        }
       
        h1 {
            margin-top:  200px;
            font-size: 64px;
            font-weight: bold;
            color: #fff;
            text-shadow:
            		-3px -3px 0 #000,
            		3px -3px 0 #000,
            		-3px 3px 0 #000,
            		3px 3px 0 #000;
            
        }
        .container {
            text-align: center;
            margin-top: 20px;
            
            
        }
        p {
            font-size: 25px;
            color: #fff;
                        text-shadow:
                        		-1px -1px 0 #000,
                        		1px -1px 0 #000,
                        		-1px 1px 0 #000,
                        		1px 1px 0 #000;
        }
       
    </style>
</head>
<body>
<header>
    <h1>Welcome to Mamma Mia Pizzeria</h1>
    <p>Mamma's Pizza will make you scream Mamma Mia !</p>
</header>

 <audio autoplay loop>
  <source src="music/Spider-Man%202%20The%20Game%20Pizza%20Theme.mp3" type="audio/mp3">

</audio> 

</body>
</html>
