@page
@model WebApplication2.Pages.Kitchen

@{
    Layout = "_Layout";
    ViewData["Title"] = "Kitchen page";
}

<div>
    <h2>Kitchen page</h2>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Notifications</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var notification in Model.Notifications)
            {
                <tr>
                    <td>@notification</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
