@page
@model TeamModel

@{
    ViewData["Title"] = "Project Team";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    
    <p>Meet the talented team behind our project:</p>

    <div class="row">
        <div class="col-md-4">
            <div class="team-member">
                <img src="team-member1.jpg" alt="Team Member 1">
                <h2>AMMOR Mehdi</h2>
                <p>Email: mehdi.ammor@efrei.net</p>
                <p>Github: <a href="https://github.com/Hatim-Scott">Hatim-Scott</a></p>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="team-member">
                <img src="team-member2.jpg" alt="Team Member 2">
                <h2>PARMENTIER Hugo</h2>
                <p>Email: hugo.parmentier@efrei.net</p>
                <p>Github: <a href="https://github.com/PaladinSkyland">PaladinSkyland</a></p>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="team-member">
                <img src="team-member3.jpg" alt="Team Member 3">
                <h2>VILLIERS Yohan</h2>
                <p>Email: yohan.villiers@efrei.net</p>
                <p>Github: <a href="https://github.com/yoyo53">yoyo53</a></p>
            </div>
        </div>
    </div>
</div>